{{define "content"}}
    <h1>All Books</h1>
    <a href="/books/new">Add Book</a>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publish Date</th>
            <th>Edition</th>
            <th>Action</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Title}}</td>
            <td>{{.Author}}</td>
            <td>{{.PublishedDate}}</td>
            <td>{{.Edition}}</td>
            <td>
                <a href="/book?id={{.ID}}">View</a>
                <a href="/books/edit?id={{.ID}}">Edit</a>
                <a href="/books/confirmdelete?id={{.ID}}">Delete</a>
            </td>
        </tr>
        {{else}}
        <p>No books available</p>
        <a href="/books/new">Add Your First Book</a>
        {{end}}
        
    </table>
{{end}}